.first-section {
  background-image: url("./assets/bg-main-mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 2em;
  position: relative;
}
.back-card {
  background-image: url("./assets/bg-card-back.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 250px;
  height: 200px;
  left: 20%;
  position: relative;
}
.back-card p {
  position: absolute;
  top: 30%;
  left: 80%;
  font-size: 0.8rem;
}
.front-card {
  background-image: url("./assets/bg-card-front.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 250px;
  height: 140px;
  position: absolute;
  top: 48.5%;
  left: 8%;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
}
img {
  width: 55px;
}
.card-number {
  margin-top: 1em;
  margin-bottom: 1em;
}
.details {
  display: flex;
  justify-content: space-between;
}
.details p {
  font-size: 0.6rem;
  letter-spacing: 1.5px;
}
.second-section {
  margin-bottom: 20px;
}
form {
  color: red;
  margin: auto;
  width: 80vw;
  margin-top: 3em;
}
form > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8em;
}
label {
  font-size: 0.8rem;
  letter-spacing: 1px;
  margin-bottom: 0.5em;
  color: var(--clr-dark-violet);
}
input,
button {
  width: 100%;
  padding: 0.4em;
  padding-left: 1em;
  border: 1px solid var(--clr-light-gray-violet);
  border-radius: 8px;
}
button {
  background-color: var(--clr-dark-violet);
  color: white;
  padding: 0.7em;
}
input::placeholder {
  color: var(--clr-light-gray-violet);
}
.other-card-details {
  display: flex;
  gap: 10px;
  flex-direction: row;
}

.expiry-date {
  width: fit-content;
}
.expiry-date > div {
  display: flex;
  gap: 10px;
}
