.first-section {
  background-image: url("./assets/bg-main-mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 2em;
  position: relative;
  height: 250px;
}
.back-card {
  background-image: url("./assets/bg-card-back.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 200px;
  left: 20%;

  position: relative;
}
.back-card p {
  position: absolute;
  top: 70px;
  left: 80%;
  font-size: 0.8rem;
}
.front-card {
  background-image: url("./assets/bg-card-front.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 200px;
  position: absolute;
  top: 51%;
  left: 8%;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
}
img {
  width: 55px;
}
.card-number {
  margin-top: 2em;
  margin-bottom: 0.5em;
  font-size: 1.47rem;
}
.details {
  display: flex;
  justify-content: space-between;
}
.details p {
  font-size: 0.6rem;
  letter-spacing: 1.5px;
}
.second-section {
  margin-bottom: 20px;
}
form {
  color: var(--clr-error);
  margin: auto;
  width: 80vw;
  margin-top: 3em;
}
form > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8em;
}
label {
  font-size: 0.8rem;
  letter-spacing: 1px;
  margin-bottom: 0.5em;
  color: var(--clr-dark-violet);
}
input,
button {
  width: 100%;
  padding: 0.4em;
  padding-left: 1em;
  border: 1px solid var(--clr-light-gray-violet);
  border-radius: 8px;
}
button {
  background-color: var(--clr-dark-violet);
  color: white;
  padding: 0.7em;
}
input::placeholder {
  color: var(--clr-light-gray-violet);
}
.other-card-details {
  display: flex;
  gap: 10px;
  flex-direction: row;
}

.expiry-date {
  width: fit-content;
}
.expiry-date > div {
  display: flex;
  gap: 10px;
}
.error {
  border: 1px solid var(--clr-error);
}
.error-message {
  font-size: 0.8rem;
}
.done {
  width: 80vw;
  margin: auto;
  margin-top: 100px;
}
.done > * {
  width: fit-content;
  margin: auto;
}
.done > h1 {
  margin-block: 1em;
}
.done > p {
  margin-bottom: 2em;
}
.done > button {
  width: 100%;
}
.done h1 {
  color: var(--clr-dark-violet);
}
.done p {
  color: var(--clr-dark-gray-violet);
}
@media screen and (max-width: 351px) {
  .other-card-details {
    display: block;
  }
}
@media screen and (min-width: 919px) {
  * {
    margin: 0;
  }
  .body {
    display: flex;
    gap: 10vw;
  }
  .first-section,
  .second-section {
    width: 50vw;
    height: 100vh;
    margin: 0;
  }
  .done {
    width: 30vw;
  }
  .first-section {
    width: 40vw;
    max-width: 500px;
    background-image: url(./assets/bg-main-desktop.png);
  }
  .second-section {
    display: grid;
    place-content: center;
  }
  .front-card {
    top: 25vh;
    left: 60%;
    width: 300px;
  }
  .back-card {
    top: 50vh;
    left: 50%;
    width: 300px;
  }
  form {
    width: 30vw;
  }
  body {
    outline: 1px solid blue;
    margin: 0;
    overflow-y: hidden;
  }
}

@media screen and (min-width: 1120px) {
  .front-card,
  .back-card {
    width: 370px;
    background-size: cover;
  }
  form,
  .done {
    max-width: 400px;
    margin-top: -100px;
  }
  .front-card {
    top: 20vh;
    display: flex;
    padding-bottom: 50px;
  }
  .card-number {
    font-size: 1.8rem;
  }
  .front-card div {
    margin-top: auto;
  }

  .back-card p {
    top: 90px;
  }
}
