@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-light-gray-violet: hsl(270, 3%, 87%);
  --clr-dark-gray-violet: hsl(279, 6%, 55%);
  --clr-dark-violet: hsl(278, 68%, 11%);
  --clr-error: hsl(0, 100%, 66%);
  --clr-active: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  color: var(--clr-white);
}

img {
  max-width: 100%;
  display: block;
}

input,
button {
  font: inherit;
}
